<footer class='fotter'>
  <div class='fotter-text-wrap'>
    <p class='fotter-text'>プライバシーポリシー</p>
    <p class='fotter-text'>babymana利用規約</p>
    <p class='fotter-text'>特定商取引に関する表記</p>
  </div>
  <div class='fotter-bar-contents'>
    <%= link_to image_tag("baby_blue.png", class:"fotter-baby-icon"), "/" %>
    <%= link_to 'babymana', "/", class: "fotter-logo" %>
    <%= link_to image_tag("baby_orange.png", class:"fotter-baby-icon"), "/" %>
  </div>
</footer>