.index-top-content{
  display: flex;
  justify-content: center;
}

.schedule-icon{
text-decoration: none;
color: black;
}

.calendar-top{
  height: 60vh;
  width: 110%;
  padding-bottom: 50px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(picnic.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: wheat;
}

.kid-image{
width: 119vw;
height: 60vh;
object-fit: cover;
}

.calendar-heading{
  text-align: center;
}