.calendar-new-main{
  height: 50%;
  width: 100%;
  padding-bottom: 50px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(kid.png);
  background-repeat: no-repeat;
  background-color: wheat;
}

.calendar-new-main-top{
  background-color: white;
  padding: 15px;
  margin-top: 20px;
  border-radius: 5px;
}

.calendar-new-title{
  text-align: center;
}
.calendar-icon{
  width: 3vh;
}

.clock-icon{
  width: 3vh;
  padding-top: 10px;
}

.content-icon{
  width: 3vh;
  padding-top: 10px;
}