.schedule{
  display: flex;
  justify-content: center;
}

.schedule-list{
  display: block;
  padding-top: 50px;
}

.calendar-icon{
  width: 4.5vh;
  padding-top: 15px;
}

.clock-icon{
  width: 4.5vh;
  padding-top: 15px;
}

.content-icon{
  width: 4.5vh;
  padding-top: 15px;
  margin-bottom: 20px;
}


.calendar-heading{
  text-align: center;
  padding: 10px;
}

.submit{
  padding-top: 15px;
  text-align: center;

}