.diary-image{
  height: 30vh;
  width: 25vw;
  min-height: 150px;
  background-color: rgb(243, 238, 238);
  object-fit: contain;
}

.diary-show-text{
  border: solid 1px black;
  background-color: white;
  border-radius: 5px;
  height: 20vh;
}

.btn-list{
display: flex;
text-align: center;
justify-content: center;
}

.click-upload{
  max-width: 500px; margin: 0 auto 50px;
}

.diary-image{
  border-radius: 5px;
  display: block;
  margin: 10px 0px;
  object-fit: contain;

}

.diary-edit-destroy{
  border: solid 1px black ;
  width: 3vw;
  margin: 10px;
  text-decoration: none;
  border-radius: 5px;
  color: red;
}