.mypage-top{
  
}

.mypage{
  justify-content: center;
  text-align: center;
}
.mypage-main-top{
  display: flex;
  justify-content: center;
  text-align: center;
}

.mypage-main{
  text-align: center;
  background-color: antiquewhite;
  border-radius: 5px;
  padding: 15px;
}

.mypage-content{
  border: solid 2px black;
  border-radius: 5px;
  padding: 3px;
}

.mypage-edit-btn{
  border: solid 2px black ;
  width: 3vw;
  margin: 10px;
  text-decoration: none;
  border-radius: 5px;
  color: red;
}

.mypage-show-content{
  border: solid 1px black;
  border-collapse: collapse ;
}

.mypage-sub{
  flex-direction: column;
  text-align: left;
  float: left;
  background-color: antiquewhite;
}

